body {
  background: url(../img/background.png) 20px 20px no-repeat;
  max-width: 100vh;
  display: flex;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
