h1, h3 {
  font-family: arial, verdana, sans-serif;
  text-transform: uppercase;
}

.score-board,
.grid {
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
}

.score-board {
  padding: 1em;
  margin: 11em 2em 19em 13em;
}

.grid {
  margin: 2em;
  height: 580px;
  width: 560px; /* 70px x 8 pieces */
  min-width: 560px;
}

.grid div {
  display: inline-block;
  width: 70px;
  height: 70px;
}
