---
title: "Seed crush"
description: "Another game, ripped off of candy crush."
game: seedcrush
layout: game.html
inline: 1
manifest: /misc/game/manifest.json
board: 3
tags: [game, javascript, emu]
---

<div class="score-board">
  <h3>score</h3>
  <h1 id="score">0</h1>
</div>
<div class="grid"></div>
